<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>NMAP Port Scan</h2>
    <form method="POST">
        <label for="hostname">Host name or IP address:</label><br>
        <input type="text" name="hostname">
        <input type="submit">
    </form>
	<br>
</body>
</html>